
@font-face{
    font-family:"Lexend Deca";
    font-style:normal;
    font-weight:400;
    font-display:swap;
    font-optical-sizing: auto;
    src:url(./fonts/LexendDeca-Medium.ttf);
}

@font-face{
    font-family:"Inter";
    font-style:normal;
    font-weight:400;
    font-display:swap;
    font-optical-sizing: auto;
    src:url(./fonts/Inter_18pt-Medium.ttf);
}

@font-face{
    font-family:"Inter";
    font-style:normal;
    font-weight:700;
    font-display:swap;
    font-optical-sizing: auto;
    src:url(./fonts/Inter_18pt-Bold.ttf);
}


:root{

    /* PRIMARY */
    /* main background */
    --clr-very-dark-blue:hsl(233, 47%, 7%);
    /* card background */
    --clr-dark-desaturated-blue:hsl(244, 38%, 16%);
    /* accent */
    --clr-soft-violet:277, 64%, 61%;

    /* NEUTRAL */
    /* main heading, stats */
   --clr-white:0, 100%, 100%;
   /* main paragraph */
   /* --clr-slightly-transparent: hsla(0, 0%, 100%, 0.75);  */

   /* stat headings */
   /* --clr-slightly-transparent: hsla(0, 0%, 100%, 0.6);  */
   
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

body {
  line-height:1.5;
  -webkit-font-smoothing: antialiased;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
/* ***************************************** */

body{
    position:relative;
    min-height:100vh;
    display:grid;
    place-content:center;
    background-color:var(--clr-very-dark-blue);
    padding-block:2rem;
}

main{
    border-radius:10px;
    padding:5vw;
}

.panel{
    max-width:1150px;
    color:hsl(var(--clr-white));
    border-radius:10px;
    overflow:hidden;
}

article{
    background-color: var(--clr-dark-desaturated-blue);
    padding:4.5rem 0 4.5rem 4.5rem;
    gap:1.5rem;
}

.image-container {
    position: relative;
}

.image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:hsla(var(--clr-soft-violet), 0.75);
}
  
.image-container img {
    display: block;
    width: 100%;
    height:100%;
}

img{
    background-image:url("images/image-header-desktop.jpg");
    background-size:cover;
}


.title{
    width:80%;
    color:var(--clr-white);
    font-family:"Inter";
    font-size:2.25rem;
    font-weight:700;
    line-height:2.8rem;
}

.title span{
    color:hsl(var(--clr-soft-violet));
}

.details{
    width:69%;
    gap:2vw;
}


.description{
    color:hsla(var(--clr-white), 0.75);
    font-size:0.9375rem;
    line-height:1.68;
    font-family:"Inter";
    font-weight:400;
}

.stats-section{
    display:flex;
    justify-content:space-between;
}

.even-column p{
    font-family:"Lexend Deca";
    color:hsla(var(--clr-white), 0.6);
    font-size:0.75rem;
    text-transform:uppercase;
    letter-spacing:1px;
}

.even-column:nth-of-type(1) span{
    text-transform:lowercase;
}

.even-column span{
    display:block;
    font-family:"Inter";
    color:hsl(var(--clr-white));
    font-size:1.5rem;
    font-weight:700;
}


footer{
    position:absolute;
    left:50%;
    bottom:2%;
    transform:translateX(-50%);
    color:hsl(var(--clr-white));
    text-align:center;
    font-size:0.625rem;
    white-space: nowrap;
}

footer a {
    color:hsl(var(--clr-white));
}

/* ********* GRID LAYOUT OF ELEMENTS ********** */
.panel{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

article{
    display:grid;
    grid-template-rows: auto 1fr;
}

.details{
    display:grid;
    grid-template-rows: 1fr;
}

/* --------1300px--------- */
@media(max-width:81.25em){
      article{
        padding:5.5vw 0 5.5vw 5.5vw;
        gap:0.8vw;
      }
}

/* --------950px--------- */
@media (max-width:59.38em){
/* ********* GRID LAYOUT OF ELEMENTS ********** */
    .panel{
        grid-template-columns: 1fr;
        grid-template-rows:auto 1fr;
    }

    .image-container{
        grid-row:1 / 2;
        /* grid-template-columns: 1fr; */
     }

    article{
        grid-template-rows:auto 1fr;
        grid-row: 2 / 3;
    }

    .details{
        grid-template-rows:auto 1fr ;
    }
  
    main{
         padding:8vw;
        } 

    .panel{
         text-align:center;
        
    }

    article, 
    .title, 
    .details{
        padding:0;
        width:100%;
    }

    article{
        padding-block:8vw;
        padding-inline:8vw;
        gap:1.5rem;
   }

   .title{
      font-size:clamp(2.125rem, 8vw, 2.625rem);
   }
  

    .details{
        gap:8vw;
        grid-template-rows:auto 1fr ;
    }

    .description{
        font-size:clamp(0.9375rem, 4.75vw, 1.25rem);
    }

    .stats-section{
       flex-direction:column;
       gap:2.5rem;
    }
} 

/* --------700px--------- */
@media (max-width:43.75em){
    main{
        padding:6vw;
       } 
}



